body {
  margin: 0;
  min-width: 960px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #222222;
  background-color: #f2f4f6;
  background-image: url("../img/hero-bg-light.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.container {
  max-width: 928px;
  margin: 0 auto;
  padding: 0 16px;
}

.page-header {
  margin: 0 0 180px;
  padding: 32px 0 32px;
}

.page-header,
.page-footer {
  display: flex;
  justify-content: flex-end;
  margin-right: auto;
  text-align: right;
}

.page-header a {
  margin-left: 56px;
  padding-top: 6px;
  color: #288be6;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.header-email {
  padding-left: 30px;
  background-image: url("../img/icon-email-header.svg");
}

.header-phone {
  padding-left: 25px;
  background-image: url("../img/icon-phone-header.svg");
}

.header-github {
  padding-left: 50px;
  background-image: url("../img/icon-github-header.svg");
  background-size: 30%;
}

.theme-button {
  margin-left: 60px;
  margin-right: 25px;
  padding-top: 8px;
  padding-right: 5px;
  cursor: pointer;
}

.hero-image {
  margin-bottom: 620px;
}

.hero-image .container {
  max-width: 1408px;
  text-align: center;
}

.heading {
  margin: 0 0 16px;
  font-family: "Montserrat", sans-serif;
  font-size: 88px;
  line-height: 96px;
  font-weight: 400;
}

.hero-image p {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
}

.intro {
  margin: 0 0 120px;
}

.subheading {
  margin: 0 0 56px;
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  line-height: 80px;
  font-weight: 400;
  text-align: center;
}

.user-image {
  margin: 0 0 32px;
  text-align: center;
}

.intro h3,
.portfolio h3 {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}

.intro p {
  margin: 0 0 32px;
}

.skills-list {
  margin: 0;
  padding: 0;
}

.skills-list dt {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left;
}

.skill-java {
  background-image: url("../img/icon-java.png");
}

.skill-html {
  background-image: url("../img/icon-html.svg");
}

.skill-css {
  background-image: url("../img/icon-css.svg");
}

.skill-js {
  background-image: url("../img/icon-js.png");
}

.skill-php {
  background-image: url("../img/icon-php.png");
}

.level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  background-color: #ffffff;
  border: 1px solid #86c3fa;
  border-radius: 8px;
}

.level div {
  margin: 1px;
  height: 12px;
  background-color: #288be6;
  border-radius: 6px;
}

.portfolio {
  margin: 0 0 120px;
}

.projects {
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects li {
  margin: 0 0 80px;
}

.project-image {
  margin: 0 0 24px;
  text-align: center;
}

.projects p {
  margin: 0 0 24px;
}

.button {
  padding: 6px 20px;
  margin-bottom: 40px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #288be6;
  color: #ffffff;
}

.page-footer {
  padding: 40px 0;
  background-color: #272727;
  color: #ffffff;
}

.page-footer a {
  margin-left: 56px;
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.footer-email {
  padding-left: 30px;
  background-image: url("../img/icon-email-footer.svg");
}

.footer-phone {
  padding-left: 25px;
  background-image: url("../img/icon-phone-footer.svg");
}

.footer-github {
  padding-left: 50px;
  margin-right: 110px;
  background-image: url("../img/icon-github-footer.svg");
  background-size: 30%;
}


.lab-item {
  position: fixed;
  z-index: 101;
  width: 300px;
  text-align: center;
  background: #fafafa;
  transition: .3s ease-in;
}
.lab-item img {
  display: block;
  width: 100%;
}
.lab-list {
  background: #333333;
  padding: 15px 0;
}
.lab-list h3 {
  font-size: 18px;
  font-weight: 400;
  color: #fafafa;
  margin: 0 0 10px 0;
}
